In [71]:
from numpy import dtype
from numpy.lib.type_check import typename
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
from sklearn.datasets import make_classification
from sklearn.metrics import confusion_matrix, classification_report,accuracy_score, roc_auc_score, roc_curve
from sklearn.preprocessing  import MinMaxScaler, StandardScaler
from xgboost import XGBClassifier,XGBRegressor
from sklearn.model_selection import RandomizedSearchCV

df = pd.read_csv("stock_data.csv")

df.head()

,date,symbol,open,close,low,high,volume
0,2016-01-05 00:00:00,WLTW,123.430000,125.839996,122.309998,126.250000,2163600.0
1,2016-01-06 00:00:00,WLTW,125.239998,119.980003,119.940002,125.540001,2386400.0
2,2016-01-07 00:00:00,WLTW,116.379997,114.949997,114.930000,119.739998,2489500.0
3,2016-01-08 00:00:00,WLTW,115.480003,116.620003,113.500000,117.440002,2006300.0
4,2016-01-11 00:00:00,WLTW,117.010002,114.970001,114.089996,117.330002,1408600.0

In [72]:
df1=df[df['symbol']=='AMZN']
df1.head()

,date,symbol,open,close,low,high,volume
284,2010-01-04,AMZN,136.250000,133.899994,133.139999,136.610001,7599900.0
751,2010-01-05,AMZN,133.429993,134.690002,131.809998,135.479996,8851900.0
1219,2010-01-06,AMZN,134.600006,132.250000,131.649994,134.729996,7178800.0
1687,2010-01-07,AMZN,132.009995,130.000000,128.800003,132.320007,11030200.0
2155,2010-01-08,AMZN,130.559998,133.520004,129.029999,133.679993,9830500.0

In [73]:
df1.drop(['symbol'], axis=1, inplace=True)
df1.drop(['date'], axis=1, inplace=True)

<ipython-input-73-664bc6c1495b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(['symbol'], axis=1, inplace=True)
<ipython-input-73-664bc6c1495b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(['date'], axis=1, inplace=True)

In [74]:
Scaler=StandardScaler()
Scaler.fit_transform(df1)

array([[-1.06544664, -1.07904231, -1.07051253, -1.07551102,  0.96817018],
       [-1.08034835, -1.0748636 , -1.07760203, -1.08144369,  1.37325905],
       [-1.07416567, -1.08776986, -1.07845492, -1.08538128,  0.83192184],
       ...,
       [ 2.31649313,  2.29684172,  2.32690281,  2.30236571, -0.4298394 ],
       [ 2.29614877,  2.25992148,  2.27546384,  2.26771502, -0.47047771],
       [ 2.26481271,  2.17909857,  2.20846038,  2.23621428, -0.15604851]])

In [75]:
X = df1[['volume','open']]
y = df1['close']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [76]:
X_train.head()

           volume        open
351542  4704600.0  257.820007
776323  3618300.0  712.330017
349192  2526900.0  250.110001
226522  7717000.0  194.759995
62581   6047700.0  120.129997

In [77]:
model = XGBRegressor()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)
accuracy = model.score(X_test, y_test)
print(accuracy)

0.9988539337994399